@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

#container {
    background-color: rgb(90, 130, 160);
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

#head {
    background-image: url("../header.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
    border: 0;
    border-bottom: 10px solid rgb(70, 90, 140);
}

#bottom {
    background-color: rgb(70, 110, 140);
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

#contactInfo {
    max-width: 600px;
    margin: 0 auto;
}

#contactInfo h2 {
    color: rgb(220, 220, 255);
    font-size: 2.5vw;
    margin-bottom: 20px;
}

.link {
    text-decoration: none;
    color: rgb(180, 180, 255);
    transition: color 0.15s;
}

.link:hover {
    text-decoration: none;
    color: rgb(222, 222, 255);
}

#contactInfo p {
    font-size: 1.8vw;
    margin: 10px 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
}

#gallery-container {
    overflow: hidden;
}

#gallery {
    padding-top: 1vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-item {
    flex: 0 0 calc(33.33% - 10px);
    margin-bottom: 10px;
}

.gallery-item img {
    width: 100%;
    height: 40vh;
    object-fit: fill;
    border-radius: 1vh;
}

#projectTitle {
    font-size: 2.5vw;
    background-color: rgb(70, 110, 140);
    padding: 2vh;
    max-width: 30vw;
    width: 100vw;
    height: 100vh;
    max-height: 3vw;
    box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.3);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#projectContainer {
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: rgb(30, 80, 120);
}

h1 {
    color: rgb(255, 255, 255);
}

#descriptionContainer {
    padding-left: 1vw;
}

.descriptionObject {
    padding-left: 1vw;
}

h2 {
    color: rgb(240, 240, 240);
    font-size: 4vh;
}

.descriptionObject {
    color: rgb(220, 220, 220);
    font-size: 2vh;
}

li {
    padding-top: 1vh;
    color: rgb(220, 220, 220);
    font-size: 2vh;
}

.header2 {
    margin-top: 8vh;
}