/* Global Styles */
body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    background: url("images/background.jpg") center center/cover no-repeat;
    height: 100vh;
    animation: pageLoadAnimation 2.5s ease;
    overflow: hidden;
}

@keyframes pageLoadAnimation {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: url("images/pageBackground.jpg") center center/cover no-repeat rgb(222, 222, 222);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateX(100%);
}

.page.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0%);
}

.page.previous {
    transform: translateX(-100%);
}

.page.next {
    transform: translateX(100%);
}

h1, h2 {
    text-align: center;
    margin: 5vh;
    margin-bottom: 2rem;
    color: rgb(20, 40, 60);
}

#white {
    background-color: rgba(255, 255, 255, 0.4);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    height: 420px;
    border-radius: 50%;
    border: 1px solid black;
}

/* Characteristic Dial Styles */
.dial-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
}

.buttons-characteristics {
    position: relative;
    width: 100%;
    height: 100%;
}

.button-characteristics {
    position: absolute;
    width: 86px;
    height: 86px;
    background-color: rgb(0, 100, 200);
    color: white;
    border: 2px solid rgb(20, 40, 80);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 0.7rem;
    text-align: center;
    transform-origin: center center;
    user-select: none;
    transition: opacity 0.2s;
}

.button-characteristics:hover {
    opacity: 0.8;
}

.button-characteristics:active {
    opacity: 0.6;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 65%;
    padding: 10px;
    background-color: rgb(222, 233, 250);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

/* Event Container Styles */
.event-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(222, 233, 250, 0.4);
    height: 75%;
    padding: 0.3vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative; /* Ensure relative positioning for children */
}

.gradient-bar {
    margin-top: 10px;
    width: 72.5%;
    height: 2vh; /* Adjust height as needed */
    background: linear-gradient(to right, rgb(200, 50, 50), yellow, rgb(50, 200, 50));
    border-radius: 0.5vh;
    z-index: -1; /* Ensure it's behind the labels */
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

#eventLabels {
    display: flex;
    justify-content: space-between;
    width: 88%;
    padding: 0 20px;
}

.label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    user-select: none;
}

.least-successful {
    margin: 4px;
    color: rgb(200, 50, 50);
    font-size: 1.25vw;
}

.most-successful {
    margin: 4px;
    color: rgb(50, 200, 50);
    font-size: 1.25vw;
}
.buttons-events {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 10px;
    width: auto;
    user-select: none;
}

.button-events {
    background-color: rgb(0, 100, 200);
    border: 1px solid rgb(20, 40, 80);
    color: white;
    border-radius: 5px;
    margin: 2px;
    padding: 0.8vh 1vw;
    cursor: pointer;
    font-size: 1.25vw;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 10px);
    transition: opacity 0.2s;
}

.button-events:hover {
    opacity: 0.8;
}

.button-events:active {
    opacity: 0.7;
}

.description-box {
    padding: 1px;
    border: 1px solid black;
    border-radius: 10px;
    width: 60%;
    background-color: rgb(244, 244, 250, 0.6);
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 1.25vw;
}

.description-characteristics, .description-events {
    text-align: center;
    color: #555;
}

.description-characteristics {
    font-size: 0.8rem;
}

/* Slide Styles */
.slide {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1000px;
    width: 75%;
    text-align: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid black;
    user-select: none;
    transition: width 0.3s, max-width 0.3s, box-shadow 0.3s;
}

.slide:hover {
    width: 80%;
    max-width: 1100px;
    box-shadow: 0, 0, 50px, rgba(0, 0, 0, 0.4);
}

.slide img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.caption {
    padding: 15px;
    background-color: rgb(0, 100, 200);
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0 0 10px 10px;
    user-select: text;
}

/* Navigation Arrows */
.nav-arrows {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 5.5vh;
    height: 5.5vh;
    border-radius: 50%;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: rgb(0, 100, 200, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: background-color 0.3s ease;
    user-select: none;
    color: white;
}

.nav-arrows:hover {
    background-color: rgb(0, 100, 200, 0.8);
}

.nav-arrows:active {
    background-color: rgb(0, 100, 200, 0.7);
}

.left-arrow {
    left: 20px;
}

.right-arrow {
    right: 20px;
}

/* About Me Container */
.about-me-container {
    max-width: 800px;
    margin: 10vh auto;
    text-align: center;
    padding: 20px;
    background-color: rgb(222, 233, 250, 0.4);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border: 2px solid black;
    overflow-y: auto;
    max-height: 70vh;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: rgb(20, 40, 60);
}

.anecdote-content {
    line-height: 1.6;
    text-align: left;
    margin-top: 20px;
}

/* Scrollbar Customization */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
}
